$primary-color: #0D1117;
$secondary-color: #161B22;
$text-primary-color: #C9D1D9;
$accent-color: #464C55;

body {
  color: $text-primary-color;
}

.App {
  min-height: 100vh;
  background-color: $primary-color;
}

._container {
  max-width: 1000px;
  padding: 50px;
  margin: 0 auto;
}

.title {

}

.header {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $secondary-color;
}

.search {
  width: 600px;

  &__input {
    background-color: inherit;
    width: 100%;
    padding: 14.5px;
    border: 2px solid $accent-color;
    color: #C9D1D9;
    border-radius: 10px;
    font-size: 24px;
    text-align: center;
  }
}

.user {
  padding: 20px;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__inner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    width: 800px;
    padding: 40px;
  }

  &__list {
  }

  &__title {
    font-weight: bold;
    font-size: 24px;
  }

  &__avatar {
    width: 200px;
    height: 200px;
    border: 2px solid $accent-color;
    border-radius: 50%;
  }

  &__repositories{
    height: 100%;
    border-left: 2px solid $accent-color;
    padding-left: 40px;
  }
}